body {
    background-color: white;
}
/* first */
.firstdiv {
    width:160%;
    height:78.13%;
    position:relative;
    margin-left:-60%;
    cursor:pointer;
/*            background: #333;*/
    top:0;
    bottom: 0;
    -webkit-transform: skew(-9deg);
    -moz-transform: skew(-9deg);
    -ms-transform: skew(-9deg);
    transform: skew(-9deg);
    overflow: hidden;
}

.seconddiv {
    width:100%;
    height:78.13%;
    position:relative;
    margin-left:10px;
    margin-right: -20%;
    cursor:pointer;
/*          background: #333;*/
    top:0;
    bottom: 0;
    -webkit-transform: skew(-9deg);
    -moz-transform: skew(-9deg);
    -ms-transform: skew(-9deg);
    transform: skew(-9deg);
    overflow: hidden;
}

.firstimg {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
      animation-name: example;
      animation-duration: 3s;
}
 @keyframes example {
    0% {
        right: -100%;
    }

    25% {
        right: -30%;
    }

    75% {
        right: -30%;
    }

    100% {
        right: -100%;
    }
}

.secondimg {
    -webkit-animation-name: exampleone; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
      animation-name: exampleone;
      animation-duration: 3s;
}
 @keyframes exampleone {
    0% {
        left: -70%;
    }

    25% {
        left: -10%;
    }

    75% {
        left: -10%;
    }

    100% {
        left: -70%;
    }
}

.thirdimg {
    -webkit-animation-name: exampletwo; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
      animation-name: exampletwo;
      
      animation-duration: 3s;
      
}
 @keyframes exampletwo {
    0% {
        left: -42%;
    }

    25% {
        left: -5%;
    }

    75% {
        left: -5%;
    }

    100% {
        left: -42%;
    }
}


.fourthimg {
    -webkit-animation-name: examplefour; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
      animation-name: examplefour;
      animation-duration: 3s;
      animation-delay: 0.2s;
}
@keyframes examplefour {
    0% {
        right: -100%;
    }

    25% {
        right: -38%;
    }

    75% {
        right: -38%;
    }

    100% {
        right: -100%;
    }
}


.fifthimg {
    -webkit-animation-name: examplefive; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
      animation-name: examplefive;
      animation-duration: 3s;
      animation-delay: 0.25s;
}
 @keyframes examplefive {
    0% {
        left: -40%;
    }

    25% {
        left: -3%;
    }

    75% {
        left: -3%;
    }

    100% {
        left: -40%;
    }
}

.sixthimg {
    -webkit-animation-name: examplesix; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
      animation-name: examplesix;
      animation-duration: 3s;
      animation-delay: 0.2s;
}
 @keyframes examplesix {
    0% {
        left: -50%;
    }

    25% {
        left: -5%;
    }

    75% {
        left: -5%;
    }

    100% {
        left: -50%;
    }
}


.seventhimg {
    -webkit-animation-name: exampleseven; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
      animation-name: exampleseven;
      animation-duration: 3s;
      animation-delay: 0.4s;
}
@keyframes exampleseven {
    0% {
        right: -100%;
    }

    25% {
        right: -38%;
    }

    75% {
        right: -38%;
    }

    100% {
        right: -100%;
    }
}

.eighthimg {
    -webkit-animation-name: exampleeight; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
      animation-name: exampleeight;
      animation-duration: 3s;
      animation-delay: 0.4s;
}
 @keyframes exampleeight {
    0% {
        left: -56%;
    }

    25% {
        left: -10%;
    }

    75% {
        left: -10%;
    }

    100% {
        left: -56%;
    }
}

.ninthimg {
    -webkit-animation-name: examplenine; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
      animation-name: examplenine;
      animation-duration: 3s;
      animation-delay: 0.4s;
}
 @keyframes examplenine {
    0% {
        left: -35%;
    }

    25% {
        left: -5%;
    }

    75% {
        left: -5%;
    }

    100% {
        left: -35%;
    }
}
.common-tag {
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
}
.tag-property {
    margin-left: 30%; z-index: 1000;
}